@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Young+Serif&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border box;
}

body {
    font-family:'Pixelify Sans', sans-serif; ;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: url('../img/Candle\ 3.jpeg');
    background-size: cover;
    background-position: bottom;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image_link a {
    background-color: #5583668c;
    border: 2px solid #d9b66fec;
    color: #64522d;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.intro-image_link a:hover {
    transform: scale(1.2);
}

.intro-text {
    background-color: #432a0e;
    color: #775f2f;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    padding: 0 15rem;
}

.intro-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.packaging-image {
    background-attachment: fixed;
    background-image: url('../img/Candle\ 1.jpeg');
    background-size: cover;
    background-position: bottom;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.packaging-image__link a {
    background-color: #5d7b73be;
    border: 2px solid #4e442fec;
    color: #4e4128;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.packaging-image__link a:hover {
    transform: scale(1.2); 
}

.packaging-text {
    background-color: #866e69;
    color: #d4b491;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.packaging-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.tutorials-image {
    background-attachment: fixed;
    background-image: url('../img/Candle\ 2.jpeg');
    background-size: cover;
    background-position: bottom;
    height: 600px;
    align-items: center;
    justify-content: center;
}

.tutorials-image__link a {
    background-color: #37373db0;
    border: 2px solid #a05353ec;
    color: #d9b56f;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.tutorials-text {
    background-color: #964c3f;
    color: #dbd7d1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    padding: 0 15rem;
}

.tutorials-image__link a:hover {
    transform: scale(1.2); 
}

.tutorials-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer {
    height: 250px;
    background-color: #357564;
    color: #5d4575;
    font-size: 2rem;
    padding-top: 2rem;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    color: #111b3e;
    text-decoration: none;
}

.footer ul li a:hover {
    color: #261515;
}